#head {
  background-color: #303F9F;
  display: grid;
  grid-template-rows: 50px 50px 60px;
  grid-template-columns: 25% 25% 25% 25%;
}

#head img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}

#head h1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}

#head h2 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 10px;
  margin-left: 20px;
}

#head button {
  grid-row-start: 3;
  grid-column-start: 4;
  line-height: 20px;
}

#logo {
  height: 80px;
  width: 80px;
  margin: 10px 0 0 10px;
}

#page-tabs {
  position: absolute;
  left: 0;
  right: 0;
  top: 160px;
}

.nav-tabs {
  text-align: center;
  padding: 5px;
  border-bottom: 2px dotted #DDD;
  color: #212121;
  background-color: #ebf3ff;
}

.nav-tabs-mobile {
  display: block;
}

@media screen and (min-width: 450px) {
  #head h1 {
    grid-row-end: 2;
  }

  #head h2 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #page-tabs {
    position: static;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-tabs {
    padding: 10px;
    display: block;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
  }
}
@media screen and (min-width: 630px) {
  #page-tabs {
    display: none;
  }

  #head {
    grid-template-rows: 50px 50px;
    grid-template-columns: 100px calc(100% - 100px);
  }

  #head img {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #head h1 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  #head h2 {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}
#about-me {
  padding-bottom: 10px;
  background-color: #3F51B5;
}

#my-photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: auto;
  padding-top: 20px;
}

@media screen and (min-width: 550px) {
  .story-wrapper p {
    margin: 10px auto;
  }
}
@media screen and (min-width: 720px) {
  #about-me h2 {
    text-align: center;
  }
}
@media screen and (min-width: 901px) {
  #about-me {
    display: grid;
    grid-template-rows: 50px 280px;
    grid-template-columns: 50% 50%;
  }

  #my-photo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #about-me h2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
  }

  .story-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    margin: 0 20px;
  }
}
@media screen and (min-width: 1100px) {
  #my-photo {
    margin: 0 30px;
    justify-self: end;
  }

  #about-me h2, .story-wrapper {
    margin: 0 30px;
    justify-self: start;
  }
}
#skills {
  padding: 20px 0;
  background-color: #ebf3ff;
}

#skills h2 {
  margin-top: 0;
  padding: 0;
  color: #212121;
}

#skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-row-gap: 20px;
  justify-items: center;
}

.skill-icons {
  width: 100px;
  height: 100px;
}

#item-1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

#item-2 {
  grid-column-start: 2;
  grid-row-start: 1;
}

#item-3 {
  grid-column-start: 1;
  grid-row-start: 2;
}

#item-4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

@media screen and (min-width: 550px) {
  #skills-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
  }

  #item-1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  #item-2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  #item-3 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  #item-4 {
    grid-column-start: 4;
    grid-row-start: 1;
  }
}
@media screen and (min-width: 1000px) {
  #skills-wrapper {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    justify-items: center;
  }

  #item-1 {
    grid-column-start: 2;
  }

  #item-2 {
    grid-column-start: 3;
  }

  #item-3 {
    grid-column-start: 4;
  }

  #item-4 {
    grid-column-start: 5;
  }
}
#projects {
  border: 2px solid #ebf3ff;
  background-color: #ebf3ff;
}

#projects h2 {
  color: #212121;
}

#project-tabs {
  margin-left: 20px;
}

.project {
  padding: 20px;
  background-color: #3F51B5;
}

.screenshot {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.project-title {
  margin: 10px 0;
}

.project-descriptions {
  margin: 20px 0;
  height: 50px;
}

.tab {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  border-bottom: 2px solid #3F51B5;
  background-color: #3F51B5;
}

.hidden-border {
  border-bottom: 2px solid #DDD;
}

@media screen and (min-width: 450px) {
  #projects-tab, #contact-tab {
    display: inline-block;
  }
}
@media screen and (min-width: 630px) {
  .project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 250px 50px;
  }

  .project-title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .screenshot-wrapper, .screenshot {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
  }

  .project-descriptions {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    margin-left: 20px;
    align-self: center;
  }

  .project-links {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .screenshot-wrapper {
    justify-self: end;
    margin: 0 20px;
  }

  .project-links {
    justify-self: start;
    margin-left: 20px;
  }
}
#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  padding: 10px;
  background-color: #303F9F;
}

.button i {
  color: #212121;
}

@media screen and (min-width: 720px) {
  #contact {
    justify-content: center;
  }

  #contact a {
    margin: 10px 20px;
  }
}
* {
  color: #FFF;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  cursor: default;
}

html, body {
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 32px;
  margin: 10px;
  margin-left: 20px;
}

h2 {
  font-size: 24px;
  margin: 0 0 20px 20px;
  padding-top: 20px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 10px 20px;
  max-width: 500px;
}

ul {
  list-style: none;
}

.button {
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  margin: 10px;
  background-color: #ebf3ff;
  color: #212121;
  border: 2px dotted #DDD;
}

button:hover {
  cursor: pointer;
  cursor: hand;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=root.css.map */
