#head {
  background-color: #303F9F;
  display: grid;
  grid-template-rows: 50px 50px 40px;
  grid-template-columns: 25% 25% 25% 25%;
}

#head h1 {
  grid-row: 1/3;
  grid-column: 2/5;
}

#head h3 {
  grid-row-start: 3;
  grid-column: 1/5;
  margin: 0 0 10px 20px;
}

#logo {
  grid-row: 1/3;
  grid-column-start: 1;
  height: 80px;
  width: 80px;
  margin: 10px 0 0 10px;
}

@media screen and (min-width: 450px) {
  #head {
    grid-template-rows: 50px 50px;
  }

  #head h1 {
    grid-row-end: 2;
  }

  #head h3 {
    grid-row-start: 2;
    grid-column: 2/5;
  }
}
@media screen and (min-width: 630px) {
  #head {
    grid-template-columns: 100px calc(100% - 100px);
  }

  #head h1 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  #head h3 {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}
#about-me {
  padding: 10px 0;
  background-color: #3F51B5;
}

#my-photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

#about-me h2 {
  margin: 0 0 0 20px;
}

@media screen and (min-width: 550px) {
  .story-wrapper p {
    margin: 10px auto;
  }
}
@media screen and (min-width: 720px) {
  #about-me {
    display: grid;
    grid-template-rows: 50px 280px;
    grid-template-columns: 50% 50%;
  }

  #about-me h2 {
    grid-column-start: 1;
    grid-row: 1/2;
  }

  #my-photo {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
  }

  .story-wrapper {
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: center;
    margin: 0 20px;
  }
}
@media screen and (min-width: 900px) {
  #my-photo {
    margin: 0 30px;
    justify-self: end;
  }

  .story-wrapper {
    justify-self: start;
  }
}
@media screen and (min-width: 1200px) {
  #about-me {
    grid-template-rows: 50px 330px;
    background-color: #ebf3ff;
    border-right: 2px solid #3F51B5;
  }

  #about-me * {
    color: #212121;
  }

  #my-photo {
    justify-self: center;
  }
}
#skills {
  padding: 10px 0;
  background-color: #ebf3ff;
}

#skills h2 {
  color: #212121;
}

#skills-wrapper {
  margin: 0 10px;
  display: grid;
  grid-row-gap: 10px;
  justify-items: center;
  grid-template-areas: ". a a . . b b ." "c c . d d . e e" ". f f . . g g .";
}

.skill-icons {
  width: min(100%, 100px);
  height: min(100%, 100px);
}

#item-1 {
  grid-area: a;
}

#item-2 {
  grid-area: b;
}

#item-3 {
  grid-area: c;
}

#item-4 {
  grid-area: d;
}

#item-5 {
  grid-area: e;
}

#item-6 {
  grid-area: f;
}

#item-7 {
  grid-area: g;
}

@media screen and (min-width: 550px) {
  #skills-wrapper {
    margin: 0 20px;
    grid-template-areas: "a . b . c . d" ". e . f . g .";
  }
}
@media screen and (min-width: 1200px) {
  #skills-wrapper {
    height: 330px;
    align-items: center;
  }
}
#projects {
  background-color: #3F51B5;
  padding-top: 20px;
}

#projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#projects-header h2 {
  margin: 0 20px;
}

#projects-cycle {
  margin: 0 20px 0 0;
  padding: 0 10px 0 10px;
}

.project {
  padding: 20px;
}

.screenshot {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.project-links a {
  margin: 0 10px 0 0;
}

.project-grid {
  display: grid;
  grid-template-rows: 50px 250px auto 50px;
}

.project-title {
  grid-row: 1;
  margin-bottom: 10px;
  margin-left: 10px;
}

.screenshot {
  grid-row: 2/3;
}

.project-description {
  grid-row: 3/4;
  margin: 20px 0 20px 10px;
  align-self: center;
}

.project-links {
  grid-row-start: 4;
  justify-self: left;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .project-grid {
    grid-template-rows: 50px 250px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .project-title {
    grid-row: 1;
    grid-column: 1/4;
  }

  .screenshot {
    grid-column: 3;
    justify-self: center;
  }

  .project-description {
    grid-row: 3;
    grid-column: 1/4;
    margin-right: 20px;
  }

  .project-links {
    grid-row: 3;
    grid-column: 4/6;
  }
}
@media screen and (min-width: 720px) {
  .project-grid {
    grid-template-rows: 50px 200px 50px;
    grid-template-columns: 1fr 1fr;
  }

  .project-title {
    grid-row: 1;
    grid-column: 1;
  }

  .screenshot {
    grid-column: 1;
    grid-row: 2/4;
  }

  .project-description {
    grid-row: 2/3;
    grid-column: 2;
    margin: 0;
  }

  .project-links {
    grid-row: 3;
    grid-column: 2;
  }
}
@media screen and (min-width: 800px) {
  #projects-header {
    justify-content: left;
  }

  #projects-cycle {
    margin-left: 100px;
  }
}
@media screen and (min-width: 900px) {
  .project-grid {
    grid-template-rows: 50px 200px 50px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }

  .project-title {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    width: 300px;
  }

  .screenshot {
    grid-column: 2;
    grid-row: 2/4;
    justify-self: end;
    margin: 0 30px;
  }

  .project-description {
    grid-row: 2/3;
    grid-column: 3;
    margin-left: 30px;
  }

  .project-links {
    grid-row: 3;
    grid-column: 3;
    margin-left: 30px;
  }
}
#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  padding: 10px;
  background-color: #303F9F;
}

@media screen and (min-width: 720px) {
  #contact {
    justify-content: center;
  }

  #contact a {
    margin: 10px 20px;
  }
}
* {
  color: #FFF;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  cursor: default;
}

html, body {
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 30px;
  margin: 10px;
  margin-left: 20px;
}

h2 {
  font-size: 24px;
  margin: 0 0 10px 20px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 10px 20px;
  max-width: 500px;
}

ul {
  list-style: none;
}

.button {
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  margin: 10px;
  background-color: #ebf3ff;
  color: #212121;
  border: 2px dotted #DDD;
  cursor: pointer;
}

.button i {
  color: #212121;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  #wide-grid {
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px;
  }

  #about-me {
    height: 380px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #skills {
    height: 380px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

/*# sourceMappingURL=root.css.map */
