@import '../colors';

#skills {
	padding: 20px 0;
	background-color: $light_primary_color;
}

#skills h2 {
	margin-top: 0;
	padding: 0;
	color: $secondary_text_color;
}

#skills-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 100px;
	grid-row-gap: 20px;
	justify-items: center;
}

.skill-icons {
	width: 100px;
	height: 100px;
}

#item-1 {
	grid-column-start: 1;
	grid-row-start: 1;
}

#item-2 {
	grid-column-start: 2;
	grid-row-start: 1;
}

#item-3 {
	grid-column-start: 1;
	grid-row-start: 2;
}

#item-4 {
	grid-column-start: 2;
	grid-row-start: 2;
}

@media screen and (min-width: 550px) {
	#skills-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 100px;
	}

    #item-1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    #item-2 {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    #item-3 {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    #item-4 {
        grid-column-start: 4;
        grid-row-start: 1;
    }
}

@media screen and (min-width: 1000px) {
	#skills-wrapper {
		grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
		justify-items: center;
	}

	#item-1 {
		grid-column-start: 2;
	}

	#item-2 {
		grid-column-start: 3;
	}

	#item-3 {
		grid-column-start: 4;
	}

	#item-4 {
		grid-column-start: 5;
	}
}
