#skills {
	padding: 20px 0;
}

#skills h2 {
	margin-top: 0;
	padding: 0;
}

#skills-wrapper {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 70px 70px 70px 70px;
	grid-row-gap: 10px;
	justify-items: center;
}

#item-1 {
	grid-column-start: 1;
	grid-row-start: 1;
}

#item-2 {
	grid-column-start: 3;
	grid-row-start: 1;
}

#item-3 {
	grid-column-start: 5;
	grid-row-start: 1;
}

#item-4 {
	grid-column-start: 2;
	grid-row-start: 2;
}

#item-5 {
	grid-column-start: 4;
	grid-row-start: 2;
}

#item-6 {
	grid-column-start: 1;
	grid-row-start: 3;
}

#item-7 {
	grid-column-start: 3;
	grid-row-start: 3;
}

#item-8 {
	grid-column-start: 5;
	grid-row-start: 3;
}

#item-9 {
	grid-column-start: 2;
	grid-row-start: 4;
}

#item-10 {
	grid-column-start: 4;
	grid-row-start: 4;
}

.skill-icons {
	width: 70px;
	height: 70px;
}

@media screen and (min-width: 1200px) {
	#skills-wrapper {
		grid-template-columns: 30% 15% 10% 15% 30%;
	}

	#item-1, #item-6 {
		justify-self: end;
	}

	#item-3, #item-8 {
		justify-self: start;
	}
}

@media screen and (min-width: 550px) {
	.skill-icons {
		width: 100px;
		height: 100px;
	}

	#skills-wrapper {
		grid-template-rows: 100px 100px;
		grid-row-gap: 20px;
	}

	#item-1 {
		grid-column-start: 1;
		grid-row-start: 1;
	}

	#item-4 {
		grid-column-start: 2;
		grid-row-start: 1;
	}

	#item-2 {
		grid-column-start: 3;
		grid-row-start: 1;
	}

	#item-5 {
		grid-column-start: 4;
		grid-row-start: 1;
	}

	#item-3 {
		grid-column-start: 5;
		grid-row-start: 1;
	}

	#item-6 {
		grid-column-start: 1;
		grid-row-start: 2;
	}

	#item-9 {
		grid-column-start: 2;
		grid-row-start: 2;
	}

	#item-7 {
		grid-column-start: 3;
		grid-row-start: 2;
	}

	#item-10 {
		grid-column-start: 4;
		grid-row-start: 2;
	}

	#item-8 {
		grid-column-start: 5;
		grid-row-start: 2;
	}
}