// Font.
$font-family: Arial, Helvetica, sans-serif;
$family-fixed-fixed: 'Courier New', monospace;

// Palette
$turqouise: rgb(0, 195, 228);
$purple_one: rgb(42, 44, 165);
$purple_two: rgb(49,36,80);
$border: rgb(255,255,255);
$light: rgba(255, 255, 255, 0.25);

// Breakpoints
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 736px;
$xsmall: 480px;
$xxsmall: 360px;