.button {
	border-radius: 3em;
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	height: calc(4.75em + 2px);
	line-height: 4.75em;
	padding: 0 3.75em;
	text-align: center;
	white-space: nowrap;
}

button:hover:active {
	border-color: white;
}

#canvas {
    position: absolute;
    z-index: -1;
}

#footer nav a {
	border-bottom-color: #FFF;
}

#skills h2 {
	font-size: 36px;
}

#skills #skills-wrapper {
	display: flex;
}

#skills #skills-wrapper .skill-icons {
	width: 100px;
	height: 100px;
}

#projects {
	margin: 0;
	padding-left: 1em;
}

#projects .project {
	padding-left: 0.5em;
}

#projects .project .content h2 {
	font-size: 30px;
}

#projects .screenshot {
	max-height: 300px;
	max-width: 300px;
}

#intro p {
	white-space: normal;
	margin-left: 30px;
	width: 500px;
	font-size: 1em;
	display: inline-block;
}

#header {
	background-color: #fff;
}

#header h1 {
	color: white;
	font-size: 40px;
}

#header a {
	border: 1px solid white;
	color: white;
	font-size: 60px;
	margin: 10px;
}

#header a:hover {
	cursor: pointer;
	background-color: #fff;
}