.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

/* Base */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    cursor: default;
}

ul {
    list-style: none;
}

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 24px;
	margin: 20px;
}

h3 {
	font-size: 20px;
}

p {
	margin: 10px 20px;
}

/* header */
#logo {
	height: 80px;
	width: 80px;
	margin: 20px 0 0 20px;
}

h1 {
	font-size: 32px;
	display: inline-block;
	margin: 10px;
	width: 55%;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#subtitle {
	margin-top: 0;
}

#page-tabs {
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
}

.nav-tabs {
	text-align: center;
	padding: 5px;
	border-top: 1px dotted;
	display: block;
}

.hidden {
	display: none;
}

#menu-button {
	position: relative;
	left: 75%;
}

/* about me */
#my-photo {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	display: block;
	margin: 20px auto;
}

/* skills */
#skills-wrapper {
	display: grid;
	grid-template-columns: 16% 16% 16% 16% 16% 16%;
	grid-template-rows: 100px 100px 100px 100px;
	grid-row-gap: 10px;
	margin-bottom: 20px;
}

#item-1 {
	grid-column-start: 1;
	grid-row-start: 1;
}

#item-2 {
	grid-column-start: 3;
	grid-row-start: 1;
}

#item-3 {
	grid-column-start: 5;
	grid-row-start: 1;
}

#item-4 {
	grid-column-start: 2;
	grid-row-start: 2;
}

#item-5 {
	grid-column-start: 4;
	grid-row-start: 2;
}

#item-6 {
	grid-column-start: 1;
	grid-row-start: 3;
}

#item-7 {
	grid-column-start: 3;
	grid-row-start: 3;
}

#item-8 {
	grid-column-start: 5;
	grid-row-start: 3;
}

#item-9 {
	grid-column-start: 2;
	grid-row-start: 4;
}

#item-10 {
	grid-column-start: 4;
	grid-row-start: 4;
}

.skill-icons {
	width: 100px;
	height: 100px;
}

/* projects */
#projects {
	margin-top: 20px;
}

#project-tabs {
	margin-left: 20px;
}

.project {
	padding: 20px;
}

.screenshot {
	width: 300px;
	height: 300px;
	display: block;
	margin: 0 auto;
}

.project-title {
	margin: 10px 0;
}

.project-descriptions {
	margin: 20px 0;
}

/* contact */
#contact {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	border: 1px solid;
	border-radius: 30px;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	margin: 10px;
}

.tab {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.hidden-border {
	border-bottom: 1px solid;
}

button:hover {
	cursor: pointer;
	cursor: hand;
}
