 /* #00C3E4 turquoise */
 /* #2A2CA5 purple-one */
 /* #312450 purple-two */
 /* #FFF border color */

/* Base */
* {
	font-family: "Montserrat", "Open Sans", sans-serif;
	color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    cursor: default;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {

} /* #00C3E4 turquoise */
/* #2A2CA5 purple-one */
/* #312450 purple-two */
/* #FFF border color */

/* header */
#head {
	background-color: #312450;
}

#logo {

}

#navigation {

}

/* about me */
#about-me {

}

#my-photo {

}

/* skills */
#skills {

}

#skills-wrapper {
	display: grid;
}

.skill-icons {
	width: 100px;
	height: 100px;
}

/* projects */
#projects {

}

.project {

}

.screenshot {
	max-height: 300px;
	max-width: 300px;
}

.content {

}

/* highlights */
#highlights {

}

/* contact */
#contact {

}

.button {
	border: 1px solid white;
	border-radius: 5px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 30px;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
	background-color: #2a2ca2;
}

button:hover {
	background-color: rgba(42, 44, 162, 0.5);
}
