* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    cursor: default;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* Arial, Helvetica, sans-serif */
 /* 'Courier New', monospace */

 /* #00C3E4 turquoise */
 /* #2A2CA5 purple-one */
 /* #312450 purple-two */
 /* #FFF border color */

 /* 1680px */
 /* 1280px */
 /* 980px */
 /* 736px */
 /* 480px */
 /* 360px */