@import "colors";

#contact {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 10px;
	padding: 10px;
	background-color: $dark_primary_color;
}

.button i {
	color: $secondary_text_color;
}

@media screen and (min-width: 720px) {
	#contact {
		justify-content: center;
	}

	#contact a {
		margin: 10px 20px;
	}
}
