#head {
	background-color: $dark_primary_color;
	display: grid;
	grid-template-rows: 50px 50px 40px;
	grid-template-columns: 25% 25% 25% 25%;
}

#head h1 {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 5;
}

#head h3 {
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 5;
	margin: 0 0 10px 20px;
}

#logo {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	height: 80px;
	width: 80px;
	margin: 10px 0 0 10px;
}

@media screen and (min-width: 450px) {
    #head {
        grid-template-rows: 50px 50px;
    }

	#head h1 {
		grid-row-end: 2;
	}

	#head h3 {
		grid-row-start: 2;
		grid-column-start: 2;
		grid-column-end: 5;
	}
}

@media screen and (min-width: 630px) {
	#head {
		grid-template-columns: 100px calc(100% - 100px);
	}

	#head h1 {
		grid-row-start: 1;
		grid-column-start: 2;
	}

	#head h3 {
		grid-row-start: 2;
		grid-column-start: 2;
	}
}
