#about-me {
	padding: 10px 0;
	background-color: $default_primary_color;
}

#my-photo {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	display: block;
	margin: auto;
}

#about-me h2 {
    margin: 0 0 0 20px;
}

@media screen and (min-width: 550px) {
	.story-wrapper p {
		margin: 10px auto;
	}
}

@media screen and (min-width: 720px) {
	#about-me {
		display: grid;
		grid-template-rows: 50px 280px;
		grid-template-columns: 50% 50%;
	}

	#about-me h2 {
		grid-column-start: 1;
		grid-row: 1 / 2;
	}

	#my-photo {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
        align-self: center;
	}

	.story-wrapper {
		grid-row: 1 / 3;
		grid-column: 2 / 3;
		align-self: center;
		margin: 0 20px;
	}
}

@media screen and (min-width: 900px) {
	#my-photo {
		margin: 0 30px;
		justify-self: end;
	}

	.story-wrapper {
		justify-self: start;
	}
}

@media screen and (min-width: 1200px) {
    #about-me {
		grid-template-rows: 50px 330px;
    }

    #my-photo {
        justify-self: center;
    }
}
