#skills {
	padding: 10px 0;
	background-color: $light_primary_color;
}

#skills h2 {
	color: $secondary_text_color;
}

#skills-wrapper {
    margin: 0 10px;
	display: grid;
    grid-row-gap: 10px;
    justify-items: center;
	grid-template-areas:
        "b b . . c c"
        ". . a a . ."
        "d d . . e e";
}

.skill-icons {
    width: min(100%, 100px);
    height: min(100%, 100px);
}

#item-1 {
	grid-area: a;
}

#item-2 {
	grid-area: b;
}

#item-3 {
	grid-area: c;
}

#item-4 {
	grid-area: d;
}

#item-5 {
	grid-area: e;
}

@media screen and (min-width: 550px) {
	#skills-wrapper {
        margin: 0 20px;
        grid-template-areas:
            "b . a . c"
            ". d . e .";
	}
}

@media screen and (min-width: 1200px) {
	#skills-wrapper {
        height: 330px;
        align-items: center;
    }
}
