.button {
	border-radius: 3em;
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	height: calc(4.75em + 2px);
	line-height: 4.75em;
	padding: 0 3.75em;
	text-align: center;
	white-space: nowrap;

	&:hover {
		&:active {
			border-color: white;
		}
	}
}
